# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://mjholfnmardtzwkbljhf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1qaG9sZm5tYXJkdHp3a2JsamhmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxNjY1MDcsImV4cCI6MjA5MTc0MjUwN30.gaZ2hZYL1nrRzuet7gm5mkdmxbyILAmR3k_IVIKLyvw
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-optional
